@import url(reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(src/178811.jpg);
    background-size: 100% 110%;
}
canvas {
    width: 800px;
    height: 800px;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
}

.option {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center; 
    align-items: center;
}
.line-width {
    height: 50px;
    display: flex;
    align-items: center;
}
.color {
    display: flex;
    margin-top: 5px;
}
.color-input {
    height: 50px;
    margin-left: 5px;
}
.color-option {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
    transition: transform ease-in-out .1s;
}
.color-option:hover {
    transform: scale(1.1);
}
.color-select {
    box-shadow: inset -3px 3px 3px rgba(0, 0, 0, 0.5);
}

button {
    all:unset;
    height: 50px;
    width: 80px;
    text-align: center;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
    margin-left: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity linear .1s;
}
button:hover {
    opacity: 0.85;
}
#text {
    all:unset;
    font-size: 13px;
    width: 200px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin: 0 15px;
}
label {
    height: 50px;
    width: 80px;
    text-align: center;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
    margin-left: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity linear .1s;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
#file {
    display: none;
}
